PORT=8787
CLIENT_ORIGIN=http://localhost:5173

PUBLIC_DATA_MODE=hybrid
PUBLIC_DATA_SERVICE_KEY=
PUBLIC_DATA_TIMEOUT_MS=5000

SIGNAL_API_URL=https://apis.data.go.kr/B551982/rti
BUS_API_URL=https://apis.data.go.kr/B551982/rte
MOBILITY_API_URL=https://apis.data.go.kr/B551982/tsdo_v2

SIGNAL_STDG_CD=1100000000
BUS_STDG_CD=1100000000
MOBILITY_STDG_CD=1100000000

SIGNAL_CACHE_TTL_MS=15000
BUS_CACHE_TTL_MS=15000
MOBILITY_CACHE_TTL_MS=30000
